<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjpowernode.crm.workbench.mapper.TblClueActivityRelationMapper">
  <resultMap id="BaseResultMap" type="com.bjpowernode.crm.workbench.domain.TblClueActivityRelation">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="clue_id" jdbcType="CHAR" property="clueId" />
    <result column="activity_id" jdbcType="CHAR" property="activityId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, clue_id, activity_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_clue_activity_relation
    where id = #{id,jdbcType=CHAR}
  </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tbl_clue_activity_relation
    where id = #{id,jdbcType=CHAR}
  </delete>
    <delete id="deleteClueActivityRelationByClueId">
      delete from tbl_clue_activity_relation
      where clue_id = #{clueId}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.bjpowernode.crm.workbench.domain.TblClueActivityRelation" useGeneratedKeys="true">
    insert into tbl_clue_activity_relation (clue_id, activity_id)
    values (#{clueId,jdbcType=CHAR}, #{activityId,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.bjpowernode.crm.workbench.domain.TblClueActivityRelation" useGeneratedKeys="true">
    insert into tbl_clue_activity_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="clueId != null">
        clue_id,
      </if>
      <if test="activityId != null">
        activity_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="clueId != null">
        #{clueId,jdbcType=CHAR},
      </if>
      <if test="activityId != null">
        #{activityId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.bjpowernode.crm.workbench.domain.TblClueActivityRelation">
    update tbl_clue_activity_relation
    <set>
      <if test="clueId != null">
        clue_id = #{clueId,jdbcType=CHAR},
      </if>
      <if test="activityId != null">
        activity_id = #{activityId,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bjpowernode.crm.workbench.domain.TblClueActivityRelation">
    update tbl_clue_activity_relation
    set clue_id = #{clueId,jdbcType=CHAR},
      activity_id = #{activityId,jdbcType=CHAR}
    where id = #{id,jdbcType=CHAR}
  </update>

  <insert id="insertByClueIdAndActivityId">
    insert into tbl_clue_activity_relation
    (id,clue_id,activity_id)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id},#{item.clueId},#{item.activityId})
    </foreach>
  </insert>

  <select id="selectClueActivityRelationByClueId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from tbl_clue_activity_relation
    where clue_id = #{clueId}
  </select>
</mapper>