<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjpowernode.crm.workbench.mapper.TblTranRemarkMapper">
  <resultMap id="BaseResultMap" type="com.bjpowernode.crm.workbench.domain.TblTranRemark">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="note_content" jdbcType="VARCHAR" property="noteContent" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="CHAR" property="createTime" />
    <result column="editby" jdbcType="VARCHAR" property="editby" />
    <result column="edit_time" jdbcType="CHAR" property="editTime" />
    <result column="edit_flag" jdbcType="CHAR" property="editFlag" />
    <result column="tran_id" jdbcType="CHAR" property="tranId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, note_content, create_by, create_time, editby, edit_time, edit_flag, tran_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_tran_remark
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tbl_tran_remark
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.bjpowernode.crm.workbench.domain.TblTranRemark" useGeneratedKeys="true">
    insert into tbl_tran_remark (note_content, create_by, create_time, 
      editby, edit_time, edit_flag, 
      tran_id)
    values (#{noteContent,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=CHAR}, 
      #{editby,jdbcType=VARCHAR}, #{editTime,jdbcType=CHAR}, #{editFlag,jdbcType=CHAR}, 
      #{tranId,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.bjpowernode.crm.workbench.domain.TblTranRemark" useGeneratedKeys="true">
    insert into tbl_tran_remark
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="noteContent != null">
        note_content,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="editby != null">
        editby,
      </if>
      <if test="editTime != null">
        edit_time,
      </if>
      <if test="editFlag != null">
        edit_flag,
      </if>
      <if test="tranId != null">
        tran_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="noteContent != null">
        #{noteContent,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=CHAR},
      </if>
      <if test="editby != null">
        #{editby,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null">
        #{editTime,jdbcType=CHAR},
      </if>
      <if test="editFlag != null">
        #{editFlag,jdbcType=CHAR},
      </if>
      <if test="tranId != null">
        #{tranId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.bjpowernode.crm.workbench.domain.TblTranRemark">
    update tbl_tran_remark
    <set>
      <if test="noteContent != null">
        note_content = #{noteContent,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=CHAR},
      </if>
      <if test="editby != null">
        editby = #{editby,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null">
        edit_time = #{editTime,jdbcType=CHAR},
      </if>
      <if test="editFlag != null">
        edit_flag = #{editFlag,jdbcType=CHAR},
      </if>
      <if test="tranId != null">
        tran_id = #{tranId,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bjpowernode.crm.workbench.domain.TblTranRemark">
    update tbl_tran_remark
    set note_content = #{noteContent,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=CHAR},
      editby = #{editby,jdbcType=VARCHAR},
      edit_time = #{editTime,jdbcType=CHAR},
      edit_flag = #{editFlag,jdbcType=CHAR},
      tran_id = #{tranId,jdbcType=CHAR}
    where id = #{id,jdbcType=CHAR}
  </update>

  <insert id="insertTranRemarkByList">
    insert into tbl_tran_remark
    (id, note_content, create_by, create_time, editby, edit_time, edit_flag, tran_id)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id},#{item.noteContent},#{item.createBy},#{item.createTime},#{item.editby},#{item.editTime},#{item.editFlag},#{item.tranId})
    </foreach>
  </insert>
</mapper>